<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_widget_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light">

        <!-- ぴよログAPIウィジェット（1項目） -->
        <receiver
            android:name=".WidgetProviderSmall"
            android:label="@string/widget_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.piyologtimewidget.ACTION_REFRESH_SMALL" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tracker_widget_small_info" />
        </receiver>

        <activity
            android:name=".WidgetConfigureSmallActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
